name: Kriteria 3 - MLflow CI Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # Langkah 1: Checkout kode
      - name: Checkout repository
        uses: actions/checkout@v4

      # Langkah 2: Setup Miniconda
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: "3.10"
          auto-activate-base: true

      # Langkah 3: Install MLflow (di base env)
      - name: Install MLflow
        shell: bash -l {0} # <--- TAMBAHKAN BARIS INI
        run: pip install mlflow==2.13.0

      # Langkah 4: Menjalankan MLflow Project
      - name: Run MLflow Project
        shell: bash -l {0} # <--- TAMBAHKAN BARIS INI
        run: mlflow run ./MLProject_files --experiment-name "Telco_Churn_CI_Workflow"

      # Langkah 5: Mengarsipkan Artefak Pelatihan
      - name: Archive training artifacts (mlruns)
        uses: actions/upload-artifact@v4
        with:
          name: mlruns-artifacts
          path: mlruns/
